<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odd or Even Checker</title>
</head>
<body style="background-color: rgb(0, 255, 170);">

    <h1>Odd or Even Checker</h1>
    <form method="post">
        <label for="number" style="font-size:40px; ">Enter a number:</label>
        <br>
        <input type="text" id="number" name="number" style="height: 200px; width: 200px; margin: 10px; font-size: 50px; overflow: auto; text-align: center; background-color: aqua; color:rgb(143, 115, 115);">
        <button type="submit" style="height: 100px; width: 130px; font-size: 30px; background-color: aqua;">Submit</button>
    </form>
    {% if result is not none %}
        <p style="font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; color:rgb(255, 0, 0);">The number is {{ result }}.</p>
    {% endif %}
</body>
</html>
